[MASTER]
load-plugins=pylint_django
django-settings-module=app.settings
ignore-patterns=admin.py
ignore=migrations/

[*.admin.py]
disable=C0114,C0115,C0116

[*.serializers.py]
disable=W0223

[MESSAGES CONTROL]
disable=C0413, W1203
